CONNECTION_STRING=Host=postgres;Port=5432;Database=jobs_db;Username=postgres;Password=12345678
SECRETE_KEY=v9d8SVG1q0W+2ZdKZh2P/h+cbugbBgYHAx/RazclooO3tB56uRp+2lueaCJW9k/qUku0pMGEK9AsUsPoZ16Vjg==

# Connect to Supabase via connection pooling with Supavisor.
# DATABASE_URL="postgresql://postgres.mtfracshmddqwvsjistn:D@m3p9219@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
# DIRECT_URL="postgresql://postgres.mtfracshmddqwvsjistn:D@m3p9219@aws-0-us-west-1.pooler.supabase.com:5432/postgres"


postgresql://postgres:[YOUR-PASSWORD]@db.mtfracshmddqwvsjistn.supabase.co:5432/postgres